<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login and Registration</title>
<style>  
    body  
    {  
    background-image:url("{{ url_for('static', filename='img3.jpg') }}");  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }  
    #container{
        border-style: 1;
        padding: 50px 50px 50px 50px;
        width: 270px;
        padding: 50px;
        margin: 50px;
        background-color:rgb(180, 209, 223);
        box-shadow: 10px 10px rgb(75, 20, 20);
    }
    </style>
</head>
 
<body>
 <center><div id="container">
    <form action="/y_predict" method="post">
<h2>Registration Form</h2>
 <br>
<label for="r1" id="fn"></label>First Name :</label>
<input type="text" name="fname" id="r1" required/><br/>
 <br>
<label  for="r2" id="ln">Last Name :</label>
<input type="text" name="lname" id="r2" required/><br/>
 <br>
<label  for="r3" id="un">Username :</label>
<input type="text" name="uname" id="r3" required/><br/>
 <br>
<label  for="r4" id="pwd">Password :</label>
<input type="password" name="pass" id="r4" required/><br/>
 <br>
<label  for="r5" id="em">Email :</label>
<input type="text" name="email" id="r5" required/><br/>
 <br>
<label  for="r6" id="mn">Mobile No :</label>
<input type="text" name="mno" id="r6" required/><br/>
 <br>
 <button><a href="login">Submit</a></button></br>
<a href="login">Back to Home</a>
 </center></div>
</form>
 

 
</body>
</html>
